body {
    background: linear-gradient(270deg, #db4a76, #c04adb, #804adb, #4a53db, #4aaddb, #4adbcf, #4adb89, #98db4a, #d8db4a, #db9e4a);
    background-size: 2000% 2000%;
    -webkit-animation: AnimationName 35s ease infinite;
    -moz-animation: AnimationName 35s ease infinite;
    animation: AnimationName 35s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
h1, h2, h3, h4 {
    color: white;
    letter-spacing: 2px;
    text-shadow: 3px 2px #000000;
}

h1, h2 {
    font-family: 'Merriweather', serif;
}

h1 {
    padding-top: 8px;
}

h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
}
a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a, a:hover {
    color: inherit;
}
.well {
    margin-top: 80px;
    background: #52a1e6;
    border: none;
    box-shadow: 8px 10px 20px 2px #000000;
    /*background-image: url("https://pbs.twimg.com/profile_banners/114019911/1468371218");*/
}

.username {
    font-size: 22px;
    padding-bottom: 10px;
}

.username:hover {
    font-size: 22px;
    padding-bottom: 10px;
    letter-spacing: 4px;
}

.name:hover {
    letter-spacing: 4px;
}

.location:hover {
    letter-spacing: 4px;
}

.desc {
    padding-top: 10px;
    padding-bottom: 30px;
    font-style: italic;
}

.desc:hover {
    padding-top: 10px;
    padding-bottom: 30px;
    font-style: italic;
    letter-spacing: 4px;
}

.stat {
    font-style: italic;
}
.stat:hover {
    letter-spacing: 4px;
}

.img-circle {
    border-radius: 50%;
    margin-top: 9px;
}

.bg {
    /*box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.47);*/
}

.avatar {
    box-shadow: 4px 4px 14px 1px #000000
}
